services:

  # ===========================
  #  DOZZLE
  # ===========================
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: always
    networks:
      - traefik
    environment:
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      # Dashboard
      - "traefik.http.routers.dozzle.rule=Host(`dozzle.${DOMAIN}`)"
      - "traefik.http.routers.dozzle.entrypoints=websecure"
      - "traefik.http.routers.dozzle.tls.certresolver=le"
      # Service: Tell Traefik that Dozzle listens on internal port 8080
      - "traefik.http.services.dozzle.loadbalancer.server.port=8080"
      # Reference the authentication middleware defined in the Traefik container
      - "traefik.http.routers.dozzle.middlewares=auth-middleware@docker"

  # ===========================
  #  CTOP: Explicitly invoked with: docker compose run --rm ctop
  # ===========================
  ctop:
    image: quay.io/vektorlab/ctop:latest
    container_name: ctop
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    profiles: ["tools"] # Trick: This way it doesn't start automatically, only if explicitly requested

networks:
  traefik:
    name: traefik
    external: true
