# domain,               redirection,       docker_service,    anubis_subdomain,    rate, burst, concurrency

# --- Critical Webs, with Anubis (restrictive traefik limits) ---

# =============================
# domain-1.com
# =============================
domain-1.com,           ,                  domain-1-com,      anubis,              50,   100,   20
www.domain-1.com,       domain-1.com,      domain-1-com,      anubis,              50,   100,   20

# =============================
# domain-2.com
# =============================
domain-2.com,           www.domain-2.com,  domain-2-com,      auth,                50,   100,   20
www.domain-2.com,       ,                  domain-2-com,      auth,                50,   100,   20

# --- Non-critical Webs, without Anubis (default traefik limits) ---

# =============================
# domain-3.com
# =============================
domain-3.com,           ,                  domain-3-com,      ,                    ,     ,
www.domain-3.com,       ,                  domain-3-com,      ,                    ,     , 

# =============================
# domain-4.com
# =============================
domain-4.com,           ,                  domain-4-com,      ,                    ,     , 
www.domain-4.com,       ,                  domain-4-com,      ,                    ,     , 
