/* custom.css */

body,
html {
    background-color: #FFF !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Title */
h1#title {
    color: #58a6ff !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #30363d;
    padding-bottom: 10px;
}

/* Custom progress bar */
#progress {
    outline: #58a6ff solid 2px !important;
    background-color: #161b22 !important;
}

.bar-inner {
    background-color: #2ea043 !important;
    /* Verde éxito */
}

/* Hide original footer */
footer {
    visibility: hidden;
    position: relative;
}

/* Inject custom footer */
footer::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "No free cycles. Prove your humanity.";
    text-align: center;
    color: #8b949e;
}

/* Status */
#status {
    color: #f0883e !important;
    font-weight: bold;
}